
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  color: white;
  background-color: rgb(14, 19, 36);
  font-size: small;
  letter-spacing: 0.03em;
  font-family: Arial, sans-serif;
}

a:link, a:visited {
  color: white;
}

/*

structure:

body {
  #page {
    #menu {}
    #head {}
    #main {}
    #footer {}
  }
}

*/

#page {
  width: 100%;
  background-color: black;
}

#menu {
  display: block;
  width: 100%;
  min-height: 2em;
  background-color: black;
  z-index: 100;
}

header {
  background-color: black;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

main {
  width: 100%;
  min-height: 400px;
  padding: 0 2%;
  position: relative;

  /* fallback */
  /* background: url("images/pagebg.png") repeat-x scroll 0% 0% rgb(31, 46, 87); */
  background: url("images/pagebg.png") repeat-x scroll 0% 0% rgb(14, 19, 36);

  /* various browser-specific gradient syntaxes */
  /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), color-stop(0.6, #27396C), to(#27396C)); */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), color-stop(0.6, #0E1324), to(#0E1324));
  background: -webkit-linear-gradient(top, black, rgb(14, 19, 36) 60%, rgb(14, 19, 36));
  background: -moz-linear-gradient(top, black, rgb(14, 19, 36) 60%, rgb(14, 19, 36));
  background: -ms-linear-gradient(top, black, rgb(14, 19, 36) 60%, rgb(14, 19, 36));
  background: -o-linear-gradient(top, black, rgb(14, 19, 36) 60%, rgb(14, 19, 36));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0E1324');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0E1324')"; 

  /* standard background gradient syntax */
  background: linear-gradient(to bottom, black 10%, rgb(14, 19, 36) 60%, rgb(14, 19, 36));

}

main>section {
  margin-top: 20px;
}

main>section>h1 {
  font-size: 1.5em;
}

footer {
  width: 100%;
  display: block;
  clear: both;

  background-color: rgb(14, 19, 36);
  /*background-color: rgb(29, 41, 78);*/
  border-top: 1px solid white;
}


/* universal */

.clearfix {
  clear: both;
}

.onepx {
  height: 1px;
}

.fontsans, .font-sans-serif, .sans-serif {
  font-family: "Century Gothic", sans-serif;
}

.fontserif, .font-serif, .serif {
  font-family: serif;
}

.yellow,
.yellow a,
a.yellow {
  color: #FFFF99;
}
.red,
.red a,
a.red {
  color: #DD0033;
}
.green,
.green a,
a.green {
  color: #339966;
}
.orange,
.orange a,
a.orange {
  color: #DC3300;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}

.pointer,
.pointer li span {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.5em;
}
