
/* styles for the careers pages */

.jobsearch, .joblist {
  width: 100%;
  min-height: 25em;
  text-align: center;
}

.jobsearch table, .joblist table {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.jobsearch td {
  width: 30%;
}

.joblist {
}

.joblist table {
  border-spacing: 30px;
}

.joblist .top {
  display: inline-block;
  font-size: 80%;
  width: 24%;
  padding-bottom: 10px;
}

.joblist .bottom {
  font-size: 115%;
  width: 96%;
  /* 2% for left and right - so width = 100 - 2 - 2 = 96% */
  padding: 10px 2%;
  border-top: solid 1px brown;
  max-height: 5em;
  overflow: hidden;
}

.joblist .showfull {
  max-height: none;
  overflow: visible;
}

.joblist td:hover {
  background-color: #000022;
  border: 1px solid yellow;
}

.joblist td {
  width: 24%;
  border: 1px solid red;
  border-radius: 1em;
  padding: 10px;
}

.joberror {
}

.morebutton {
  z-index: 5;
  float: right;
  border: 1px solid red;
  margin: 3px;
}

.showfull .morebutton {
  visibility: hidden;
}
