
/* styles for the careers pages */


/* jobsearch is for the searching interface */

.jobsearch {
  margin-bottom: 1em;
}

.jobsearch table {
  padding: 0;
  margin: 0;
  text-align: left;
}

.jobsearch caption {
  font-size: 120%;
}

.jobsearch,
.jobsearch table,
.jobsearch caption,
.jobsearch tbody,
.jobsearch tr,
.jobsearch td,
.jobsearch form,
.jobsearch label,
.jobsearch select {
  width: 100%;
}


/* joblist is for displaying search results */

.joblist {
  width: 100%;
  text-align: center;
}

.joblist table {
  /* border-spacing is empty space between rows and cells */
  border-spacing: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.joblist caption {
  font-size: 95%;
  font-weight: bold;
  letter-spacing: 0.15em;
  color: #FFFF99;
}

.joblist .container {
  border: 1px solid #88AADD;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

.joblist .container:hover {
  background-color: #000022;
  border: 1px solid red;
}

.joblist .container:hover .top.jobtitle {
  color: #FFFF99;
}

.joblist td {
  width: 50%;
  vertical-align: top;
}

.joblist td:hover {
}

.joblist td:hover .top.jobtitle {
}

.joblist .top {
  display: inline-block;
  font-size: 80%;
  margin-right: 2%;
}

.joblist .top.date {
  float: left;
}

.joblist .top.jobtitle {
  color: #DD0033;
  font-size: 110%;
  float: left;
  clear: both;
}

.joblist .top.courses {
  float: right;
}

.joblist .top.website {
  float: right;
}

.joblist .bottom {
  clear: both;
  display: inline-block;
  font-size: 115%;
  width: 96%;
  /* 2% for left and right - so width = 100 - 2 - 2 = 96% */
  padding: 10px 2% 0;
  border-top: solid 1px brown;
  /* 5em max / 1.25em per line = 4 lines max */
  line-height: 1.25em;
  /*max-height: 5em;*/
  margin-top: 10px;
}

.joblist .bottom.hidden {
  padding: 0;
  border: 0;
  margin: 0;
}

.joblist .bottom .reqs {
  display: inline-block;
  width: 100%;
  background-color: rgb(72, 81, 109);
  background-color: rgba(136, 170, 221, 0.1);
  /*
  border-right: solid 1px rgba(136, 170, 221, 0.3);
  border-left: solid 1px rgba(136, 170, 221, 0.3);
  */
  color: #FFFF99;
  padding: 10px 20px;
  font-size: 80%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top-left-radius: 1em;
  -moz-border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -moz-border-top-right-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

.joblist .bottom .reqs ul {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  list-style-position: inside;
}
.joblist .bottom .reqs li {
  margin-left: 0;
  padding-left: 0;
  /* this forces it into two columns */
  width: 49%;
  float: left;
}

.joblist .bottom .line1 {
  width: 100%;
  padding: 5px;
  background-color: rgb(61, 73, 109);
  background-color: rgba(136, 170, 221, 0.2);
  min-height: 5px;
  font-size: 80%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.joblist .bottom .line2 {
  clear: both;
  width: 100%;
  min-height: 5px;
  background-color: rgb(50, 65, 109);
  background-color: rgba(136, 170, 221, 0.3);
  font-size: 80%;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.joblist .bottom .line3 {
  width: 100%;
  min-height: 5px;
  background-color: rgb(39, 57, 109);
  background-color: rgba(136, 170, 221, 0.4);
  font-size: 80%;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.joblist .showfull {
  max-height: none;
}

.morebutton {
  display: inline-block;
  z-index: 5;
  float: right;
  border: 1px solid red;
  margin: 3px;
  max-height: 1.4em;
}

.hideme,
.showfull .morebutton {
  visibility: hidden;
}


/* jobadmin is for the admin page */

.jobadmin {
  width: 100%;
  margin-bottom: 1em;
}

.jobadmin form {
  margin: 2em 0;
}

.jobadmin fieldset {
  overflow: hidden;
}

.jobadmin legend {
  font-size: 120%;
  font-weight: bold;
}

.jobadmin label {
  display: block;
  float: left;
  text-align: right;
  width: 95px;
  min-height: 1em;
  /*margin: 0.5em 0.5em 0.5em 0;*/
  padding: 3px 7px 3px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.jobadmin .sourcedata {
  display: inline-block;
  width: 40%;
}

.jobadmin .sourcedata input,
.jobadmin .sourcedata select {
  width: 100%;
}

.jobadmin [type=submit],
.jobadmin [type=button] {
  width: auto;
}

.jobadmin [type=text],
.jobadmin textarea {
  min-width: 75%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.jobadmin [name=city] {
  min-width: 65%;
}

.jobadmin [name=state] {
  max-width: 9%;
  min-width: 0;
  text-align: center;
}

.jobadmin #cal {
  width: 200px;
  min-width: 0;
}
.jobadmin #calimg {
  height: 1.5em;
}

.jobadmin input {
  vertical-align: middle;
}

.jobadmin br {
  clear: left;
}

.jobadmin .hspace {
  display: inline-block;
  height: 1em;
  width: 5em;
}

.jobadmin .column {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.jobadmin .col2 {
  width: 49%;
}

.jobadmin .section {
  margin-top: 0.5em;
}


.joberrmsg {
  border: solid 2px red;
  color: red;
  font-size: 150%;
  padding: 0.5em;
}

.jobinfomsg {
  border: solid 2px orange;
  color: orange;
  font-size: 150%;
  padding: 0.5em;
}

