footer {
  padding: 2%;
  text-align: left;
  line-height: 28px;
}

footer ul {
  display: inline-block;
  padding: 0px;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 0.5em;
}

footer ul li div {
  display: inline-block;
  text-decoration: underline;
}

footer ul li a {
  display: inline-block;
  text-decoration: underline;
  font-size: small;
  color: white;
}

footer ul li a:hover {
  color: #865566;
}

footer ul li a img {
  text-decoration: none;
  display: inline;
  display: inline-block;
  width: 28px;
  height: 28px;
  float: right;
  border: none;
}

