
/* structural stuff for every page */

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: rgb(255, 255, 255);
  background: url("images/bg.png")
    repeat-x scroll 0% 0% rgb(39, 57, 109);
  font-size: small;
  letter-spacing: 0.03em;
}

a:link, a:visited {
  color: white;
}

h3 {
  font-size: 1.25em;
}

#page {
  width: 100%;
  background: url("images/pagebg.png")
    repeat-x scroll 0% 0% rgb(31, 46, 87);
  font-size: 115%;
}

/* all css for changing how menu is displayed
 * is in nicemenus.css
 * the following is only what is absolutely necessary to
 * preserve the basic page layout
 * min-height must be changed if font-size is changed in nicemenus.css
 */
#menu {
  display: block;
  width: 100%;
  z-index: 100;
  min-height: 2.25em;
}

#head {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
  background-color: black;
}

/* not every image in every header should have these */
.headerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.headerimgleft {
  display: block;
  float: left;
  z-index: 0;
  margin-left: 3%;
}
.headerimgright {
  display: block;
  float: right;
  z-index: 1;
  margin-right: 3%;
}

/* relative position so children can easily
 * use absolute position if needed
 */
#main {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* a horizontal, rectangular section of content */
.section {
  margin: 1.5em 0 0 0;
  width: 100%;
}


/* a sidebar along the right side of the page */
.rightsidebar {
  width: 12%;
  float: right;
}

/* content with a right sidebar */
.leftcontent {
  width: 88%;
}


/* sidebar along left side of page */
.leftsidebar {
  width: 12%;
  float: left;
}

/* content with a left sidebar */
.rightcontent {
  width: 88%;
}


#footer {
  display: block;
  clear: both;
  float: left;
  border-top: 1px solid white;
  text-align: left;
  height: 28px;
  min-height: 28px;
  max-height: 28px;
  line-height: 28px;
  width: 100%;
}

#footer ul {
  display: inline;
  float: left;
  padding: 0px;
  margin: 6px;
}

#footer ul li {
  display: inline;
  float: left;
  list-style-type: none;
  padding: 0pt 0.5em;
}

#footer ul li a {
  text-decoration: underline;
  font-size: small;
  color: rgb(255, 255, 255);
}

#footer ul li a:hover {
  color: #865566;
}

#footer ul li a img {
  text-decoration: none;
  display: inline;
  width: 28px;
  height: 28px;
  float: right;
  border: none;
}

#copyright {
  display: inline;
  float: right;
  left: auto;
  text-align: right;
  font-size: small;
  margin: 6px;
}

.clearfix {
  clear: both;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.fontsans {
  font-family: Century Gothic, sans-serif;
}

.cols-6 td {
  width: 16%;
}
.cols-5 td {
  width: 19%;
}
.cols-4 td {
  width: 24%;
}
.cols-3 td {
  width: 32%;
}
.cols-2 td {
  width: 49%;
}
.cols-1 td {
  width: 98%;
}

/* end structural */


/*
 * buttons
 * layout:
 * <a class="button buttontext lines-2">
 *   <div>Line 1<br />Line 2</div>
 *   <img />
 * </a>
 *
 */

.button {
  display: inline-block;
  position: relative;
  width: 15em;
  height: 7em;
  margin: 0;
  padding: 0;
}
.button div {
  position: absolute;
  width: 15em;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
  line-height: 1em;
}
.button img {
  position: absolute;
  width: 110%;
  height: 100%;
  z-index: 0;
  border: 0;
  left: -5%;
}
.buttontext {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 95%;
  text-decoration: none;
}
.lines-2 div {
  top: 2.25em;
}
.lines-1 div {
  top: 2.75em;
}

/* end buttons */


/*
 * text background image
 */

.bgimg {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.bgimg a {
  text-decoration: none;
}

.bgimg div {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.bgimg img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
}

/* end text background image */


/*
 * quicklinks vertical list
 * goes inside a leftsidebar or rightsidebar
 * layout:
 * <div class="quicklinks">
 *   <dl>
 *     <a>
 *       <dt><img /></dt>
 *       <dd>Text</dd>
 *     </a>
 *     ...
 *   </dl>
 * </div>
 *
 */

.quicklinks {
  height: 100%;
}
.quicklinks dl {
  margin: 1em;
}
.quicklinks dt {
  width: 100%;
  text-align: center;
}
.quicklinks dd {
  margin: 0;
  margin-bottom: 2.25em;
  text-align: center;
}
.quicklinks img {
  display: inline-block;
  border: 0;
  width: 100%;
}
.quicklinks a {
  text-decoration: underline;
}
.quicklinks span {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 1em;
}
.quicklinks .big {
  font-size: 120%;
}
.quicklinks .box {
  width: 90%;
  border: solid 1px white;
  padding: 1.25em 1.25em 0.5em;
  margin-bottom: 1em;
  margin-right: 1em;
}

/* end quicklinks */


/*
 * listbox - a box with a bulleted list inside
 * the div will need a width set
 * layout:
 * <div class="listbox" style="width: xx%;">
 *   <ul class="checkmark"> (checkmark is optional)
 *     <li>List item 1</li>
 *     ...
 *   </ul>
 * </div>
 *
 */

.listbox {
  display: inline-block;
}

.listbox ul {
  /* set font size first - size of "em" depends on it */
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: small;
  margin: 0;
  padding: 1em;
  padding-left: 2.75em;
  border: 1px solid white;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #1e2c54;
}

.listbox li {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: small;
  margin-bottom: 0.25em;
}

/* checkmarks for bullets */
.checkmark {
  list-style: none outside url(images/checkmark_sm.png);
}

/* end of listbox */


/* nice looking bullets */
.bullets {
  margin-top: 0;
  margin-left: 0;
  padding-left: 1em;
}

.bullets li {
  margin-top: 0;
  margin-bottom: 0.8em;
}
/* end nice looking bullets */


/*
 * for photos on course pages
 * layout:
 * <div class="photos">
 *   <a><img></a>
 *   <p>
 *     <a>Text</a>
 *   </p>
 * </div>
 *
 */
.photos {
  width: 100%;
  margin: 4em 0;
  text-align: center;
}

.photos img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* end photos */

/*
 * for <ul> lists meant to be clickable nav links
 * layout:
 * <ul class="listnav">
 *   <li onClick="jsFunc()";>Text</li>
 *   ...
 * </ul>
 *
 */
#listnav {
  margin: 0;
  padding: 0;
}

#listnav li {
  list-style-type: none;
  margin-left: 0;
  padding: 0.5em;
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: pointer;
}

#listnav li:hover {
  text-decoration: underline;
  color: #DD0033;
}

#listnav-init {
  color: #DD0033;
}

#listnav .odd {
}

/* end listnav */

