ErrorDocument 403 /index.php
ErrorDocument 404 /index.php

Redirect permanent /emt/files https://drive.google.com/folderview?id=0B7Ouhne2XskXbzhjUFBmRGVwdTg#list

Redirect permanent /paramedic/files https://drive.google.com/folderview?id=0B7Ouhne2XskXNHVkemFhTDdHSlE#list

Redirect permanent /cma/files https://drive.google.com/folderview?id=0B7Ouhne2XskXcjJOMG9OT0tuNm8#list

Redirect permanent /cpt/files https://drive.google.com/folderview?id=0B7Ouhne2XskXQWtaanRNejFma3M#list

Redirect permanent /spt/files https://drive.google.com/folderview?id=0B7Ouhne2XskXX0gtaGZ2NDYtWVU#list
