@import url("/css/template.css");

body {
  background-color: black;
  background-image: none;
  font-family: Arial, sans-serif;
}

#page {
  background-color: black;
  background-image: none;
}

#menu {
  min-height: 2em;
  background-color: black;
}

#main {
  width: 100%;
  /* fallback */
  background: url("images/pagebg.png")
    repeat-x scroll 0% 0% rgb(31, 46, 87);

  /* various browser-specific gradient syntaxes */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,
    color-stop(0%, #000000), color-stop(100%, #27396C));
  background: -webkit-linear-gradient(top, black, rgb(39, 57, 109));
  background: -moz-linear-gradient(top, black, rgb(39, 57, 109));
  background: -ms-linear-gradient(top, black, rgb(39, 57, 109));
  background: -o-linear-gradient(top, black, rgb(39, 57, 109));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#27396C');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#27396C')"; 

  /* standard background gradient syntax */
  background: linear-gradient(to bottom, black, rgb(39, 57, 109) 100%);
}

#footer {
  padding-bottom: 15px;
  background-color: rgb(39, 57, 109);
}

