.article-box {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.article-box .title {
  padding: 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  font-family: Century Gothic, sans-serif;
}

.article-box .title .title-border {
  padding: 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.article-box .body {
  width: 90%;
  text-align: left;
  font-family: Arial, sans-serif;
}
