/*
  $left_sidebar_width = 350;
  $right_sidebar_width = 180;
  $sidebar_pad_inside = 25;
  $sidebar_pad_outside = 5;
  $sidebar_pad_total = 30; ($sidebar_pad_inside + $sidebar_pad_outside)
  $content_pad_left = 380; ($left_sidebar_width + $sidebar_pad_total)
  $content_pad_right = 210; ($right_sidebar_width + $sidebar_pad_total)
*/

.sidebar {
  text-align: justify;
  padding-top: 0;
  padding-bottom: 0;
}

.left.sidebar {
  width: 350px;
  padding-right: 25px;
  padding-left: 5px;
  float: left;
  direction: ltr;
}
.right.sidebar {
  width: 180px;
  padding-right: 5px;
  padding-left: 25px;
  float: right;
  direction: rtl;
}

.content {
  padding-left: 380px;
  padding-right: 210px;
}


#head {
  border-bottom: none;
  position: relative;
}
#logo-container img {
  width: 100%;
}
#title-container {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
}

.course-title {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: xx-large;
}
.course-header-image {
  width: 100%;
  min-height: 200px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.course-header-slideshow {
  width: 100%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.course-header-slideshow img {
  display: block;
  width: 100%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.student-testimonials,
.course-extra div {
  margin-top: 30px;
  text-align: left;
  border: solid rgb(255, 255, 153) 2px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.student-testimonials:hover {
}
.student-testimonials h1,
.course-extra div h1 {
  font-size: large;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFF99;
}

.course-extra div {
  padding: 5px 15px;
}
.course-extra div ul {
  padding: 0 20px;
}
.course-extra div ul li {
  margin-bottom: 0.75em;
}

.course-start-box {
  margin-top: 40px;
}
.course-start-title {
  font-size: 120%;
  text-decoration: underline;
  margin-bottom: 0;
  color: #DD0033;
}
.course-start-date {
  color: #FFFF99;
  vertical-align: top
}

.article-box {
  width: 48%;
  max-width: 370px;
  margin: 0 0 20px;
  padding: 0 3px;
  /*font-size: 92%;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.article-box.cols-2,
.article-box.wide {
  width: 100%;
  max-width: 760px;
}

.article-box .title {
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
}

.article-box .title h2 + h1,
.article-box .title h1 ~ h2 {
  margin-top: 5px;
}
.article-box .title h2 {
  font-size: 85%;
}

.article-box .title .title-border {
}

.article-box.cols-2 .body,
.article-box.wide .body {
  width: 90%;
  max-width: 640px;
}
.article-box .body {
  width: 90%;
  max-width: 250px;
  position: relative;
  top: -4px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
}

.bottom-image {
  text-align: center;
}
.bottom-image a {
  display: inline-block;
}
.bottom-image img {
  max-width: 100%;
}

@media (max-width: 1023px) and (min-width: 640px) {
  #menu {
    min-height: 1.65em;
  }
  #head {
    margin-bottom: 25px;
  }
  #head #logo-container {
    width: 100%;
    text-align: center;
  }
  #head #logo-container img {
    width: 65%;
  }
  #head #title-container {
    width: 100%;
    padding: 0;
    position: static;
  }
  .left.sidebar {
    width: 100%;
    padding: 0;
    float: none;
  }
  .left.sidebar .course-header-image {
    width: 45%;
    float: left;
    margin-bottom: 25px;
  }
  .left.sidebar #contact-form-div {
    width: 50%;
    float: right;
    margin-top: -10px;
    padding-top: 0;
  }
  .left.sidebar .student-testimonials,
  .left.sidebar .course-extra {
    display: none;
  }
  .right.sidebar {
    clear: right;
    width: 120px;
    padding: 0 0 0 10px;
    direction: ltr;
  }
  .right.sidebar .quicklinks2 {
    padding: 0;
  }
  .right.sidebar .quicklinks2 .btn3,
  .right.sidebar .quicklinks2 .btn2 {
  }
  .content {
    padding-left: 0;
    padding-right: 120px;
  }
  .article-box {
  }
}

@media handheld, (max-width: 639px) {
  #menu {
    display: none;
  }
  #head {
    border-top: none;
  }
  #title-container {
    padding: 0;
    position: static;
  }
  .course-header-image {
    display: none;
  }
  .course-title {
    font-size: x-large;
  }
  .student-testimonials,
  .course-extra {
    display: none;
  }
  .left.sidebar {
    width: 100%;
    padding: 0;
    float: none;
  }
  .right.sidebar {
    display: none;
  }
  .content {
    padding: 0;
  }
  .content h2 {
    font-size: large;
  }
  .article-box .title h1 {
  }
  .article-box,
  .article-box.cols-2 {
    width: 98%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  .article-box .body,
  .article-box.cols-2 .body {
    width: 73%;
    max-width: none;
  }
  .article-box.cols-2 .body li {
    width: 95%;
  }
  .bottom-image {
    display: none;
  }
}
