/*
  $left_sidebar_width = 350;
  $right_sidebar_width = 180;
  $sidebar_pad_inside = 25;
  $sidebar_pad_outside = 5;
  $sidebar_pad_total = 30; ($sidebar_pad_inside + $sidebar_pad_outside)
  $content_pad_left = 380; ($left_sidebar_width + $sidebar_pad_total)
  $content_pad_right = 210; ($right_sidebar_width + $sidebar_pad_total)
*/

.lorem-ipsum {
  font-style: italic;
  color: #FFAA88;
}

.sidebar {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
.left.sidebar {
  width: 320px;
  padding-right: 25px;
  padding-left: 5px;
  float: left;
  direction: ltr;
}
.right.sidebar {
  width: 220px;
  padding-right: 5px;
  padding-left: 25px;
  float: right;
  direction: ltr;
  font-size: 80%;
}
.content {
  padding-left: 350px;
  padding-right: 250px;
  text-align: center;
}


#head {
  border-bottom: none;
  position: relative;
}


#page_logo {
  width: 100%;
}
#page_title {
  /*
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  right: 0;
  */
}
#page_title h1 {
  text-align: center;
  margin: 1em auto 0;
  font-weight: bold;
  font-size: xx-large;
}
.course-header-image {
  width: 100%;
  min-height: 200px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
#slideshow {
  width: 100%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 15px 0 30px;
}
.slideshow img {
  display: block;
  width: 100%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.left.sidebar .border,
.right.sidebar .border,
.sidebar .module,
.sidebar .article-box {
  border: solid rgb(255, 255, 153) 2px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px 15px;
  margin: 0 0 30px 0;
}

.left.sidebar h1,
.right.sidebar h1,
.sidebar .module .title-border h1,
.sidebar .article-box .title-border h1 {
  font-size: large;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFF99;
  text-shadow: none;
}
.sidebar .article-box .title-border h2,
.sidebar .module .title-border h2 {
  font-size: small;
  text-align: center;
  color: #FFFF99;
  text-shadow: none;
  margin-top: 0;
}
.sidebar .article-box .title-border *:last-child,
.sidebar .module .title-border *:last-child {
  margin-bottom: 12px;
}

.sidebar .module .body li {
  margin-top: 0.5em;
}
.sidebar .module .body li:first-child {
  margin-top: 0;
}

.content .module .body *:last-child {
  margin-bottom: 0;
}

.content .module .body a {
  display: inline;
  padding: 0;
}

#announcements {
  border-color: #dd0033;
}
#announcements .title h1 {
  color: #dd0033;
  text-decoration: underline;
}

#gallery_link {
  text-align: center;
  max-width: 100%;
}
#gallery_link img {
  width: 100%;
}
/*
#links a {
  display: block;
  margin-top: 0.5em;
}
#links a:first-child {
  margin-top: 0;
}
*/
.sidebar .article-box .body hr {
  width: 40%;
}
.content .article-box .body hr {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
}
#course_description {
  text-align: left;
  margin-bottom: 40px;
}
#course_description h1,
#course_description h2 {
  margin-top: 0;
}
#books .body h3 {
  margin-bottom: 0;
}
#books .recommended_books {
  margin-left: 17px;
  display: list-item;
}
#books .isbn {
  font-size: 80%;
}
#registration .body {
  text-align: center;
}
#registration button {
  background-color: #dd0033;
  border: 3px solid rgba(0,0,0,0.50);
  border-top: none;
  border-radius: 10px;
  padding: 5px 8px;
  color: white;
}
#contact_info dt {
  display: inline-block;
  width: 20%;
}
#contact_info dd {
  display: inline-block;
  width: 75%;
}
#staff ul {
  padding-left: 0;
  margin-left: 10px;
  margin-top: 0;
}
#staff ul li {
  list-style-type: none;
  margin-top: 0;
}
#faqs_menu ol {
  padding: 0;
  margin: 0;
}
#faqs_menu ol li:first-child {
  margin-top: 0;
}
#faqs_menu ol li {
  margin-top: 0.5em;
}
#faqs_list ol li a {
  display: inline;
  padding: 0;
}
#faqs_list ol li div {
  padding-left: 17px;
}
#faqs_list,
#send_to_a_friend {
  display: none;
}
#faqs_list .title,
#send_to_a_friend .title {
  cursor: pointer;
}
#send_to_a_friend .body {
  text-align: center;
}
#send_to_a_friend .body form input[type=text],
#send_to_a_friend .body form input[type=email],
#send_to_a_friend .body form label {
  display: inline-block;
  width: 30%;
}
#send_to_a_friend .body form textarea,
#send_to_a_friend .body form label[for=form_message] {
  display: inline-block;
  width: 60%;
}
#send_to_a_friend .body form input[type=submit],
#send_to_a_friend .body form button[type=button] {
}

#testimonials .body>div  {
  line-height: 1.35;
}

#testimonials .body {
  text-align: justify;
}

#testimonials .body>div.testimonial-text img {
  margin-right: 14px;
  /*margin-bottom: 5px;*/
  max-width: 45%;
  float: left;
}

#testimonials .body>div.testimonial-video img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#testimonials .body>div p {
  font-style: italic;
  quotes: "\"" "\"";
}

#testimonials .body>div p:before {
  content: open-quote;
}

#testimonials .body>div p:after {
  content: close-quote;
}

#testimonials .body>div .source {
}
#testimonials .body>div .source:before {
  content: '- ';
}

#immunizations .body ul li {
  display: inline-block;
  width: 50%;
}

.sidebar #immunizations div dt {
  margin-top: 0.5em;
}
.sidebar #immunizations div:first-child dt {
  margin-top: 0;
}
.sidebar #immunizations div dd {
  margin-left: 10px;
  font-size: 90%;
}


.sidebar .article-box .title {
  border: none;
  padding: 0;
  background-color: transparent;
}
.sidebar .article-box .title-border {
  border: none;
  padding: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.sidebar .article-box .body {
  width: 100%;
  top: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
}
.sidebar .article-box .body li,
.sidebar .article-box .body a,
.sidebar .article-box .body dt,
.sidebar .article-box .body dd {
  font-weight: normal;
  padding: 0;
}
.sidebar .article-box .body li {
  display: block;
}

.content .article-box .body a {
  text-decoration: underline;
  color: #dd0033;
}

.article-box .body li {
  cursor: default;
}

.content .article-box .body ul {
  margin-left: 18px;
}
.article-box .body li {
  display: list-item;
  /*list-style-position: inside;*/
  padding: 5px 0 0 0;
  font-weight: normal;
}
.article-box .body>ul>li:first-child {
  padding-top: 0;
}

.article-box .body h2:first-child,
.article-box .body h3:first-child,
.article-box .body p:first-child {
  margin-top: 0;
}

.article-box {
  /*
  width: 48%;
  max-width: 370px;
  */
  width: 100%;
  max-width: 760px;
  margin: 0 auto 20px;
  padding: 0 3px;
  display: block;
}
.article-box.cols-2,
.article-box.wide {
  /*
  width: 100%;
  max-width: 760px;
  */
}

.article-box .title {
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  /*border: 1px dashed #dd0033;*/
}

.article-box .title h2 + h1,
.article-box .title h1 ~ h2 {
  margin-top: 5px;
}
.article-box .title h2 {
  font-size: 85%;
}

.article-box .title .title-border {
}

.article-box.cols-2 .body,
.article-box.wide .body {
  /*
  width: 90%;
  max-width: 640px;
  */
}
.article-box .body {
  text-align: left;
  width: 90%;
  font-weight: normal;
  /*
  position: relative;
  top: -4px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border: 1px dashed #dd0033;
  border-top: none;
  */
}

div.fill {
  display: inline-block;
  height: 50%;
  border-bottom: dotted 1px white;
}

.article-box .body table {
  text-align: left;
  font-size: 95%;
  width: 100%;
  border-collapse: collapse;
}
.article-box .body table tr {
  cursor: default;
}
.article-box .body table td {
  vertical-align: top;
  padding: 5px 5px;
}
#class_schedules .body table td:first-child {
  width: 50%;
  border-right: dotted 1px rgb(90, 90, 90);
}
#class_schedules .body table tr.bottomborder td {
  padding-bottom: 20px;
  border-bottom: dotted 1px rgb(90, 90, 90);
}
#class_schedules .body table td h4 {
  margin-top: 0;
}
#class_schedules .body div.col:first-child {
  border-right: dotted 1px rgb(90, 90, 90);
  padding-left: 5px;
}
#class_schedules .body div.col {
  display: inline-block;
  width: 50%;
  padding: 5px;
  padding-left: 10px;
  vertical-align: top;
}
#tuition_and_fees .body table tbody td {
  border-bottom: dotted 1px rgb(90, 90, 90);
}
#tuition_and_fees .body table td:first-child+td {
  width: 6%;
  text-align: right;
}
.article-box .body table thead th {
  border-bottom: solid 1px white;
  font-weight: bold;
  font-size: 110%;
  color: #ffff99;
}
.article-box .body table tfoot td {
  border-top: solid 1px white;
  font-weight: bold;
}
.article-box .body table td.notes-col {
  width: 45%;
}

.bottom-image {
  text-align: center;
}
.bottom-image a {
  display: inline-block;
}
.bottom-image img {
  max-width: 100%;
}
.article-box dl.alternate dt {
  padding: 0;
  text-align: center;
}
.article-box dl.alternate dd {
  padding: 2px 0 15px 0;
  text-align: right;
}
.article-box dl.alternate div.highlight {
  clear: both;
}
.article-box dl.alternate div.highlight:hover {
  color: #dd0033;
}

div.highlight:hover {
  color: #dd0033;
}


.course-start-box {
  margin-top: 40px;
}
.course-start-title {
  font-size: 120%;
  text-decoration: underline;
  margin-bottom: 0;
  color: #DD0033;
}
.course-start-date {
  color: #FFFF99;
  vertical-align: top
}



@media (max-width: 1023px) and (min-width: 640px) {
  #menu {
    min-height: 1.65em;
  }
  #head {
    margin-bottom: 25px;
  }
  #head #logo-container {
    width: 100%;
    text-align: center;
  }
  #head #logo-container img {
    width: 65%;
  }
  #head #title-container {
    width: 100%;
    padding: 0;
    position: static;
  }
  .left.sidebar {
    width: 100%;
    padding: 0;
    float: none;
  }
  .left.sidebar .course-header-image,
  .left.sidebar .course-header-slideshow {
    width: 45%;
    float: left;
    margin-bottom: 25px;
    margin-top: 0;
    max-height: 200px;
  }
  .left.sidebar .course-header-slideshow img {
    max-height: 200px;
  }
  .left.sidebar #contact-form-div {
    width: 50%;
    float: right;
    margin-top: -10px;
    padding-top: 0;
  }
  .left.sidebar .course-approved {
    float: right;
    margin-top: -50px;
    margin-bottom: 30px;
  }
  .left.sidebar .course-approved div h1 {
    font-size: medium;
  }
  .left.sidebar #testimonials,
  .left.sidebar .course-extra {
    display: none;
  }
  .right.sidebar {
    clear: right;
    width: 120px;
    padding: 0 0 0 10px;
    direction: ltr;
  }
  .right.sidebar .quicklinks2 {
    padding: 0;
  }
  .right.sidebar .quicklinks2 .btn3,
  .right.sidebar .quicklinks2 .btn2 {
  }
  .content {
    padding-left: 0;
    padding-right: 120px;
  }
  .article-box {
  }
  .hide-medium {
    display: none;
  }
}

@media handheld, (max-width: 639px) {
  #menu {
    display: none;
  }
  #head {
    border-top: none;
  }
  #title-container {
    padding: 0;
    position: static;
  }
  #page_title {
    position: static;
  }
  .course-header-image,
  .course-header-slideshow,
  .course-header-slideshow img {
    display: none;
  }
  .course-title {
    font-size: x-large;
  }
  #testimonials,
  .course-extra {
    display: none;
  }
  .left.sidebar {
    width: 100%;
    padding: 0;
    float: none;
  }
  .right.sidebar {
    display: none;
  }
  .content {
    padding: 0;
  }
  .content h2 {
    font-size: large;
  }
  .article-box .title h1 {
  }
  .article-box,
  .article-box.cols-2 {
    width: 98%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  .article-box .body,
  .article-box.cols-2 .body {
    width: 73%;
    max-width: none;
  }
  .article-box.cols-2 .body li {
    width: 95%;
  }
  .bottom-image {
    display: none;
  }
  .hide-small {
    display: none;
  }
  .course-approved {
    padding: 5px;
  }
  .course-approved div {
    margin: 0 auto 5px;
    max-width: 330px;
  }
  .course-approved div h1 {
    margin: 3px 0;
    font-size: small;
    letter-spacing: 0;
  }
  .course-approved div ul {
    margin-bottom: 0.5em;
    padding-left: 0.2em;
  }
  .course-approved div ul li {
    font-size: x-small;
    margin-bottom: 0.5em;
  }
}
