






<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <title>Welcome to Fast Response!</title>
  
</head>

<div align="center" style="background-color:#ffffff;padding-bottom:10px;"><div align="left" style="font-family:verdana,arial;font-size:8pt;color:#000000;width:600;"><font face="verdana,arial" size="1" color="#000000" style="font-family:verdana,arial;font-size:8pt;color:#000000;">Having trouble viewing this email?
<a href="http://www.fastresponse.org/formmail/templates/hello.html" target="_blank">Click here</a></font></div></div>
<div id="rootDiv" align="center">
<table style="background-color:#ffffff;" bgcolor="#ffffff" border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
    <td rowspan="1" colspan="1" align="center">
    <table style="width:600px;" border="0" width="600" cellspacing="0" cellpadding="0">

    <tr>
        <td width="100%" rowspan="1" colspan="1">
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td style="color:#555555;font-family:Arial,Helvetica,sans-serif;font-size:8pt;" rowspan="1" colspan="1" align="center"><span /></td>
        </tr>
        </table>
        </td>
    </tr>

    <tr>
		<td width="100%" rowspan="1" colspan="1">
        <table border="0" width="100%" bgcolor="#76c9bf" cellspacing="0" cellpadding="0"><tr><td style="text-align: center;" rowspan="1" colspan="1" align="center"><p align="center" class="MsoNormal" style="text-align:center"><span style="font-size:24.0pt; font-family:Arial, Helvetica, sans-serif; color:#ffffff">Fast Response Info</span>

<br />
<br />
<font face="Verdana" color="#cccccc" size="1"><span style="font-size:10.0pt; font-family:Verdana; color:#000000"><b>If you do not see the graphics below, </b><a href="http://www.fastresponse.org/formmail/templates/hello.html" class="white" >click here</a> <b>to view in a new window.</b>
</span></font>
        
        
        </td></tr></table>            
        </td>
	</tr>

        <tr>
            <td valign="top" rowspan="1" colspan="1">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr valign="top">

                <td style="width:202px;background-image:url(https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-colbg.jpg);background-position:center top;background-repeat:no-repeat;background-color:#76c9bf;" height="400" bgcolor="#76c9bf" background="https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-colbg.jpg" valign="top" width="202" rowspan="1" colspan="1">
       
                <table border="0" width="100%" cellpadding="7" cellspacing="0" id="content_LETTER.BLOCK6"><hr><tr><td style="TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; COLOR: #3c5487; FONT-SIZE: 10pt" rowspan="1" colspan="1" align="left">
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px"><b>EMT Students Speak:</b></p></td></tr><tr><td style="color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:8pt;TEXT-ALIGN: left" rowspan="1" colspan="1" align="left">
<div style="TEXT-ALIGN: center" align="center"><span style="FONT-SIZE: 10pt"><img style="TEXT-ALIGN: left" src="http://www.fastresponse.org/newsletter/images/2.jpg" name="ACCOUNT.IMAGE.2" width="93" vspace="5" border="0" alt="EMT Student Testimonial" align="left" height="137" hspace="5" /></span>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px"><em>&nbsp;</em><strong><em>"Fast Response has provided me with the knowledge and skills to succeed in the field!"</em></strong></p>

<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">&nbsp;</p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">-Anjani Amlaou</p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">EMT-B</p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">&nbsp;</p></div></td></tr></hr></table>


<table style="margin-bottom:10px;" border="0" width="100%" cellpadding="7" cellspacing="0" id="content_LETTER.BLOCK5">


<tr><td style="color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:8pt;TEXT-ALIGN: left" rowspan="1" colspan="1" align="left">
<hr>
<p class="MsoNormal"><b><span style="font-family: Verdana; font-size: 13.5pt; color: black"> </span><span style="font-size:13.5pt; font-family:Verdana; color:black; font-weight:bold">Photo Galleries</span></b></p>
<ul type="disc">
<li class="MsoNormal" style="color:blue"><font face="Garamond" color="blue" size="2"><span style="font-size:10.0pt; font-family:Garamond"><a shape="rect" href="http://www.fastresponse.org/photos/emt/index.html#emt" target="_blank">EMT </a></span></font> </li><li class="MsoNormal" style="color:blue"><font face="Garamond" color="blue" size="2"><span style="font-size:10.0pt; font-family:Garamond"><a shape="rect" href="http://www.fastresponse.org/photos/phleb/index.html#phleb" target="_blank">Phlebotomy</a></span></font> </li><li class="MsoNormal" style="color:blue"><font face="Garamond" color="blue" size="2"><span style="font-size:10.0pt; font-family:Garamond"><a shape="rect" href="http://www.fastresponse.org/photos/ma/index.html#medicalassistant" target="_blank">Medical Assistant</a></span></font> </li>
<li class="MsoNormal" style="color:black"><font face="Garamond" color="black" size="2"><span style="font-size:10.0pt; font-family:Garamond"><a shape="rect" href="http://www.fastresponse.org/photos/spt/index.html#spt" target="_blank">Sterile Processing Tech</a></span></font> </li>

</td></tr></table>

<table border="0" width="100%" cellpadding="7" cellspacing="0" id="content_LETTER.BLOCK22"><hr><tr><td style="TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; COLOR: #3c5487; FONT-SIZE: 10pt" rowspan="1" colspan="1" align="left">

<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px"><b>Phlebotomy Students Speak:</b></p></td></tr><tr><td style="color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:8pt;TEXT-ALIGN: left" rowspan="1" colspan="1" align="left">
<div style="TEXT-ALIGN: left" align="left"><strong><img style="TEXT-ALIGN: right" src="http://www.fastresponse.org/newsletter/images/5.jpg" name="ACCOUNT.IMAGE.5" width="100" vspace="5" border="0" alt="Phlebotomy Student Testimonial" align="right" height="104" hspace="5"><p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300"><em>&nbsp;&nbsp;"This was&nbsp;a great class!</em></p><p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300"><em>&nbsp;</em></p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300"><em>We learned what we needed to be successful in the healthcare facility as a Certified Phlebotomist."</em></p></img></strong></div>
<div style="TEXT-ALIGN: left; COLOR: #993300" align="left"><em><strong>&nbsp;&nbsp;</strong></em></div>
<div style="TEXT-ALIGN: center; COLOR: #993300" align="center"><em><strong>"It was the best career choice I've ever made!"</strong></em></div>
<div style="TEXT-ALIGN: center; COLOR: #993300" align="center"><em><strong>&nbsp;&nbsp;</strong></em></div>
<div style="TEXT-ALIGN: center; COLOR: #993300" align="center"><em><strong>- Julie Silveira, Phlebotomy</strong></em></div></td></tr></hr></table>            
                
      <hr>          
<table style="margin-bottom:10px;" border="0" width="100%" cellpadding="7" cellspacing="0">


<tr><td style="color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:8pt;TEXT-ALIGN: left" rowspan="1" colspan="1" align="left">


To see a full list of our
<a shape="rect" href="http://www.fastresponse.org/classes/#career" target="_blank">
Medical Career Courses, click here</a>.&nbsp; These are classes for those who wish to start an exciting career in the medical field.<br>




<hr>
</td></tr></table>
  
  
  
     <table border="0" width="100%" cellpadding="7" cellspacing="0"><hr><tr><td style="TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; COLOR: #3c5487; FONT-SIZE: 10pt" rowspan="1" colspan="1" align="left">
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px"><b>EMT Students Speak:</b></p></td></tr><tr><td style="color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:8pt;TEXT-ALIGN: left" rowspan="1" colspan="1" align="left">
<div style="TEXT-ALIGN: center" align="center"><span style="FONT-SIZE: 10pt"><img style="TEXT-ALIGN: left" src="http://www.fastresponse.org/newsletter/images/6.jpg" name="ACCOUNT.IMAGE.2" width="93" vspace="5" border="0" alt="EMT Student Testimonial" align="left" height="104" hspace="5" /></span>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px"><em>&nbsp;</em><strong><em>"EMTs that have graduated from Fast Response have a well-developed set of skills and knowledge, setting them at a higher standard than graduates of other schools."</em></strong></p>

<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">&nbsp;</p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">-Alex Porto</p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">EMT-B</p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; MARGIN-LEFT: 90px">&nbsp;</p></div></td></tr></hr></table>


 <table border="0" width="100%" cellpadding="7" cellspacing="0" id="content_LETTER.BLOCK22"><hr><tr><td style="TEXT-ALIGN: left; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; COLOR: #3c5487; FONT-SIZE: 10pt" rowspan="1" colspan="1" align="left">

<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px"><b>Phlebotomy Students Speak:</b></p></td></tr><tr><td style="color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:8pt;TEXT-ALIGN: left" rowspan="1" colspan="1" align="left">
<div style="TEXT-ALIGN: left" align="left"><strong><img style="TEXT-ALIGN: right" src="http://www.fastresponse.org/newsletter/images/7.jpg" name="ACCOUNT.IMAGE.5" width="100" vspace="5" border="0" alt="Phlebotomy Student Testimonial" align="right" height="104" hspace="5">
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300"><em>&nbsp;&nbsp;"I received my CPT-I license and am now working at the American Red Cross. This is a great school and I would recommend it to anyone."</em></p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300"><em>&nbsp;</em></img></p>
</strong></div>
<div style="TEXT-ALIGN: left; COLOR: #993300" align="left"><em><strong>&nbsp;&nbsp;</strong></em></div>
<div style="TEXT-ALIGN: center; COLOR: #993300" align="center"><em><strong>"Fast Response provided a supportive environment for my success!"</strong></em></div>
<div style="TEXT-ALIGN: center; COLOR: #993300" align="center"><em><strong>&nbsp;&nbsp;</strong></em></div>
<div style="TEXT-ALIGN: center; COLOR: #993300" align="center"><em><strong>- Ashley Arons, Phlebotomy</strong></em></div></td></tr></hr></table>            
  
  <hr>
  
  
                                
                
                </td>   
                

                
                
                             
                <td style="width:398px;background-image:url(https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-mainbg.jpg);background-position:center top;background-repeat:no-repeat;background-color:#d4ecef;" bgcolor="#d4ecef" background="https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-mainbg.jpg" width="398" rowspan="1" colspan="1">
                <table border="0" width="100%" cellspacing="0" cellpadding="20">
                <tr>

                	<td width="100%" rowspan="1" colspan="1">
                    <table style="background-color:#dbdcdc;margin-bottom:10px;DISPLAY: table" bgcolor="#dbdcdc" border="0" width="100%" cellpadding="5" cellspacing="1" id="content_LETTER.BLOCK10"><tr><td style="color:#333333;font-family:verdana;font-size:10pt;background-color:#ffffff;TEXT-ALIGN: left" bgcolor="#ffffff" rowspan="1" colspan="1" align="left">Dear Jamie,<br /><div>
                    <p class="MsoNormal" style="margin-bottom:4.5pt"><font face="Verdana" color="#333333" size="2"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">Thank you for expressing interest in an exciting career move to the expanding health care field by inquiring about one of our courses.<br /><br /> While you await one of our experienced and friendly representatives to contact you, please look over the many opportunities that we offer.</font></p>

<p class="MsoNormal" style="margin-bottom:4.5pt"><br />
<i>Our admissions representatives are available Monday through Friday 9:00 a.m. until 6:00 p.m.</i> </p>
If you have requested information outside of normal business hours, a representative will contact you the following business day, during the timeframe you indicated.</i></td></tr></table>

<table style="background-color:#dbdcdc;margin-bottom:10px;DISPLAY: table" bgcolor="#dbdcdc" border="0" width="100%" cellpadding="5" cellspacing="1" id="content_LETTER.BLOCK11"><tr style="TEXT-ALIGN: center" align="middle"><td style="color:#76c9bf;font-family:Arial,Helvetica,sans-serif;letter-spacing:-1px;font-size:18pt;background-image:url(https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-titlebg.jpg);background-position:center top;background-repeat:repeat-X;background-color:#ECECEC;TEXT-ALIGN: left; BACKGROUND-POSITION: center top" bgcolor="#ECECEC" background="https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-titlebg.jpg" rowspan="1" colspan="1" align="left">
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 14pt"><b>Medical Assistant Course Now Includes Phlebotomy&nbsp; -- At No Extra Cost!</b></p></td></tr><tr><td style="color:#555555;font-family:Arial,Helvetica,sans-serif;font-size:8pt;background-color:#ffffff;TEXT-ALIGN: left" bgcolor="#ffffff" rowspan="1" colspan="1" align="left">
<div style="FONT-SIZE: 10pt"><img style="TEXT-ALIGN: left" src="http://www.fastresponse.org/newsletter/images/3.jpg" name="ACCOUNT.IMAGE.3" width="125" vspace="3" border="0" alt="Certified Medical Assistant Students" align="left" height="160" hspace="3">Imagine training that is only&nbsp;3 hours a day for 5 months and can lead you to an exciting and&nbsp;lucrative career path. </img></div>

<div style="FONT-SIZE: 10pt">&nbsp;&nbsp;</div>
<div style="FONT-SIZE: 10pt">Sound too good to be true?&nbsp;&nbsp;</div>
<div style="FONT-SIZE: 10pt">&nbsp;&nbsp;</div>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; FONT-SIZE: 10pt"><em>"I had an awesome experience with the class. The environment is great but especially the personnel. We were treated with respect. The instructor was the best I have ever had. Thank you!"&nbsp;</em></p>
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #993300; FONT-SIZE: 10pt"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -Dalia Burton</em></p>
<ul>
  <li style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-SIZE: 10pt">&nbsp;<span style="FONT-FAMILY: Verdana; FONT-WEIGHT: bold"><b>Tuition Help:</b></span> Loans and Payment Plans available</li>

<li style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-SIZE: 10pt">&nbsp;<span style="FONT-FAMILY: Verdana; FONT-WEIGHT: bold"><b>Completion Time:</b></span> 3 hours a day for about 5 months</li>

<li style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-SIZE: 10pt">&nbsp;<span style="FONT-FAMILY: Verdana; FONT-WEIGHT: bold"><b>Certifications: </b></span>Eligible to sit for NCEG, CMA Diploma, Phlebotomy, and Injection Proficiency.</li>



</ul>

<p style="TEXT-ALIGN: left; MARGIN: 0in 0in 4.5pt; FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 10pt" align="left"><span style="FONT-FAMILY: Verdana; COLOR: #333333; FONT-WEIGHT: bold"><b>Register:</b></span><span class="Apple-converted-space"><strong>&nbsp;<span><span style="COLOR: #000000">Call an admissions&nbsp;specialist directly at</span> <span style="COLOR: #ff0000; font-size: 14pt; font-weight:bold; padding-top: 1px;"><strong><center>510-809-3654</center></strong></span></span></span></p>
<p style="TEXT-ALIGN: left; MARGIN: 0in 0in 4.5pt; FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 9pt" align="left"><span style="FONT-SIZE: 12pt" size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="COLOR: #000000; FONT-SIZE: 11pt">or </span><a style="COLOR: #000000; FONT-SIZE: 11pt; TEXT-DECORATION: underline" track="on" shape="rect" href="http://fastresponse.org/school/info/index.html" linktype="link" target="_blank">click here</a><span style="COLOR: #000000; FONT-SIZE: 11pt"> for more information</span></span></p></td></tr></table>


<table style="background-color:#dbdcdc;margin-bottom:10px;DISPLAY: table" bgcolor="#dbdcdc" border="0" width="100%" cellpadding="5" cellspacing="1" id="content_LETTER.BLOCK11"><tr style="TEXT-ALIGN: center" align="middle"><td style="color:#76c9bf;font-family:Arial,Helvetica,sans-serif;letter-spacing:-1px;font-size:18pt;background-image:url(https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-titlebg.jpg);background-position:center top;background-repeat:repeat-X;background-color:#ECECEC;TEXT-ALIGN: left; BACKGROUND-POSITION: center top" bgcolor="#ECECEC" background="https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-titlebg.jpg" rowspan="1" colspan="1" align="left">
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 14pt"><b>MCI (Mass Casualty Training) 2010:</b></p></td></tr><tr><td style="color:#555555;font-family:Arial,Helvetica,sans-serif;font-size:8pt;background-color:#ffffff;TEXT-ALIGN: left" bgcolor="#ffffff" rowspan="1" colspan="1" align="left">
<div style="FONT-SIZE: 10pt"><img alt="fast Response MCI" src="http://www.fastresponse.org/newsletter/images/panorama.jpg" id="_x0000_i1027" border="1" width="100%" height="80"><p>Did you know that each of our EMT classes includes Mass Casualty training along side of Federal Police, Fire, and other medics?
<ul><li> View some of our  <a href="http://www.fastresponse.org/classes/career_courses/emt/MCI/mci.html" target="_blank">past MCI photos.</a></li>
<li>View some EMT <a href="http://www.fastresponse.org/photos/emt/index.html#emt" target="_blank">class photos.</a></li></ul></div>

<div style="FONT-SIZE: 10pt"></div></td></tr></table>

<table style="background-color:#dbdcdc;margin-bottom:10px;DISPLAY: table" bgcolor="#dbdcdc" border="0" width="100%" cellpadding="5" cellspacing="1" id="content_LETTER.BLOCK11"><tr style="TEXT-ALIGN: center" align="middle"><td style="color:#76c9bf;font-family:Arial,Helvetica,sans-serif;letter-spacing:-1px;font-size:18pt;background-image:url(https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-titlebg.jpg);background-position:center top;background-repeat:repeat-X;background-color:#ECECEC;TEXT-ALIGN: left; BACKGROUND-POSITION: center top" bgcolor="#ECECEC" background="https://imgssl.constantcontact.com/letters/images/1101093164665/healthcare2-titlebg.jpg" rowspan="1" colspan="1" align="left">
<p style="MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT-SIZE: 14pt"><b>Just an Idea!</b></p></td></tr><tr>
  <td height="373" colspan="1" rowspan="1" align="left" bgcolor="#ffffff" style="color:#555555;font-family:Arial,Helvetica,sans-serif;font-size:8pt;background-color:#ffffff;TEXT-ALIGN: left"><p><span style="font-size:12.0pt; font-family:Verdana; color:#333333">What questions should I ask the representatives</span><font face="Verdana" color="#333333" size="3"><span style="font-size:12.0pt; font-family:Verdana; color:#333333">?</span></font>
<br /><br />
<font face="Verdana" color="#333333" size="2"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">
You may want to ask questions such as:
</span></font></p>

<ul>
<li><font color="#333333" size="2" face="Verdana"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">Are there any requirements/pre-requisite classes for the program?</span></font></li>
<li><font color="#333333" size="2" face="Verdana"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">Are there flexible hours for the class?</span></font></li> 
<li><font color="#333333" size="2" face="Verdana"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">Who teaches the class? Do they have any experience?</span></font></li>
<li><font color="#333333" size="2" face="Verdana"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">Are there internships/externships available?</span></font></li>
<li><font color="#333333" size="2" face="Verdana"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">What happens after </span></font><span style="font-size:10.0pt; font-family:Verdana; color:#333333">I</span><font color="#333333" size="2" face="Verdana"><span style="font-size:10.0pt; font-family:Verdana; color:#333333"> complete the course? </span></font></li>
</ul><font face="Verdana" color="#333333" size="2"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">
<br />
And remember, if you forget to ask a question that is important to you, our </span></font><span style="font-size:10.0pt; font-family:Verdana; color:#333333">A</span><font face="Verdana" color="#333333" size="2"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">dmissions </span></font><span style="font-size:10.0pt; font-family:Verdana; color:#333333">R</span><font face="Verdana" color="#333333" size="2"><span style="font-size:10.0pt; font-family:Verdana; color:#333333">ep</span></font><span style="font-size:10.0pt; font-family:Verdana; color:#333333">resentatives</span><font face="Verdana" color="#333333" size="2"><span style="font-size:10.0pt; font-family:Verdana; color:#333333"> are available <b>Monday through Friday from 9am-5pm.</b>
</span></font></p>




</td></tr></table>
        
                    
                  
                  
  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                    
                    </td>
                </tr>
                </table>
                </td>                
            </tr>              
            </table>

    
        <tr>
            <td width="100%" rowspan="1" colspan="1" align="center">
            <table style="border-bottom:none;background-color:#ffceb7;border-left:none;border-color:#dcb29e;border-right:none;border-top-width:1px;border-top-style:solid;" bgcolor="#ffceb7" border="0" bordercolor="#dcb29e" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="1" colspan="1" align="center"><img height="6" border="0" width="1" src="https://imgssl.constantcontact.com/letters/images/spacer.gif" /></td>
            </tr>
            </table>

            <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="1" colspan="1" align="center"><img height="150" width="600" optionname="HEALTHCARE2" src="http://www.fastresponse.org/newsletter/images/10.jpg" /></td>
            </tr>
            </table>                
            </td>
        </tr>
        </table>
        </td>

    </tr>        
    <tr>
        <td height="10" width="100%" rowspan="1" colspan="1">&nbsp;</td>

    </tr>        
    </table> 
    </td>
</tr>
</table>
</div>
<div align="center" style="background-color:#ffffff;">
<table style="text-align:left;" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="1" colspan="1">



<table style="font-family:tahoma,sans-serif;font-size:11px;color:#2f2f2f;background-color:#ffffff;" border="0" width="619" cellspacing="0" cellpadding="0">
<tr>

<td rowspan="1" colspan="1"><font style="font-family:tahoma,sans-serif;font-size:11px;color:#2f2f2f;" color="#000000" size="1" face="tahoma,sans-serif">
<table border="0" width="100%">

</table><div>This email was sent by <a style="color:#0000ff;" shape="rect" href="mailto:admissions@fastresponse.org" target="_blank">admissions@fastresponse.org</a> <span style="color: #bababa;"> | </span> &nbsp; </div>
<div></div>

</font></td>
</tr>
</table>
<div style="font-family:tahoma,sans-serif;font-size:12px;color:#000000;background-color:#ffffff;padding-top: 12px;" align="left" id="LETTER.PHYSICALADDRESS"><font style="font-family:tahoma,sans-serif;font-size:12px;color:#000000;" color="#000000" size="1" face="tahoma,sans-serif">Fast Response School of Health Care Education<span style="color: #bababa;"> | </span>2075 Allston Way<span style="color: #bababa;"> | </span>Berkeley<span style="color: #bababa;"> | </span>CA<span style="color: #bababa;"> | </span>94704</font></div>

</td>
</tr>
</table>
</div></body>




       

   
</html>


